<!DOCTYPE html>
<html>
<head>
	<title>Rango! {% block title %} {% endblock %}</title>
</head>
<body>
	<div>
		{% block body_block %}{% endblock %}
	</div>
	<hr/>
	<div>
		<ul>
			{% if user.is_authenticated %}
				<li><a href="{% url 'restricted' %}">Restricted Page</a></li>
				<br>
				<li><a href="{% url 'auth_logout' %}?next=/rango/">Logout</a></li>
				<br>
				<li><a href="{% url 'add_category' %}">Add A Category</a></li>
				<br>
			{% else %}
				<li><a href="{% url 'registration_register' %}">Register Here</a></li>
				<br>
				<li><a href="{% url 'auth_login' %}">Login</a></li>
				<br>
			{% endif %}
				<li><a href="{% url 'about' %}">About</a></li>
				<br>
				<li><a href="{% url 'index' %}">Home</a></li>
		</ul>
	</div>
</body>
</html>